services:


  app:
    build: ../app
    container_name: app
    command: ['python', 'main.py']

    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ENDPOINT=${HOST_ENDPOINT}:9000
    develop:
      watch: 
        - action: sync+restart
          ignore:
            - .venv/**
          initial_sync: true
          path: ../app
          target: /app

        - action: rebuild
          path: ../app/requirements.txt
    networks:
      - minio
    secrets:
      - MINIO_PASSWORD
    

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD_FILE=/run/secrets/MINIO_PASSWORD
      - MINIO_BROWSER_REDIRECT_URL=${HOST_ENDPOINT}/assets-dashboard/
      
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    secrets:
      - MINIO_PASSWORD
    networks:
      - minio

  nginx:
    image: nginx:alpine
    container_name: nginx
    
    ports:
      - "3001:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

    depends_on:
      - app
      - minio
    develop:
      watch:
        - action: sync+restart
          path: ./nginx/nginx.conf
          target: /etc/nginx/nginx.conf
    networks:
      - minio
      - front
    environment:
      - ASSETS_PATH=/assets
      - ASSETS_DASHBOARD_PATH=/dashboard/assets
  
  front:
    build: ../front
    container_name: front
    environment:
      - PUBLIC_URL=/
    develop:
      watch:
        - action: rebuild
          path: ../front
          target: /app
    networks:
      - front


secrets:
  DB_PASSWORD:
    file: ./secrets/db_password.txt

  MINIO_PASSWORD:
    file: ./secrets/minio_password.txt

volumes:
  minio_data:
    name: minio_data
    driver: local
    driver_opts:
      type: none
      device: ./data/minio
      o: bind



networks:
  minio:
    name: minio
    driver: bridge
  front:
    name: front
    driver: bridge