name: deploy

on:
  push:
    branches:
      - main


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print host
        run: echo ${{ secrets.DEPLOY_HOST }}

        
      - name: Deploy Docker Compose
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            PROJECT_DIR="/home/devuser/Development/minio-nginx/infra"
            if [ ! -d "$PROJECT_DIR/.git" ]; then
              git clone -b main https://github.com/omar-khaled-2/minio-nginx.git $PROJECT_DIR
            else
              cd $PROJECT_DIR
              git reset --hard
              git pull origin main
            fi
            cd $PROJECT_DIR
            mkdir -p infra/secrets
            echo "${{ secrets.MINIO_PASSWORD }}" > infra/secrets/minio_password.txt
            echo "${{ secrets.DB_PASSWORD }}" > infra/secrets/db_password.txt

            mkdir -p infra/data/minio

            docker-compose down
            docker-compose pull
            docker-compose up -d --build
