name: Staging Workflow

on:
  push:
    branches:
      - staging


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Deploy Docker Compose On Staging
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            PROJECT_DIR="/home/devuser/minio-nginx"
            export HOST_ENDPOINT=${{ vars.HOST_ENDPOINT }}
            if [ ! -d "$PROJECT_DIR/.git" ]; then
              git clone -b staging https://github.com/omar-khaled-2/minio-nginx.git $PROJECT_DIR
            else
              cd $PROJECT_DIR
              git reset --hard
              git pull origin staging
            fi
            cd $PROJECT_DIR/infra
            mkdir -p secrets
            echo "${{ secrets.MINIO_PASSWORD }}" > secrets/minio_password.txt
            echo "${{ secrets.DB_PASSWORD }}" > secrets/db_password.txt
            echo "${{ secrets.HOST_ENDPOINT }}" > secrets/host_endpoint.txt
            mkdir -p data/minio

            docker compose down
            docker compose pull
            docker compose up -d --build

      - name: Create pull request
        id: pr
        run: |
          PR_URL=$(gh pr create -B main -H staging --title 'staging into main' --body 'Created by Github action' --json url -q .url)
          echo "PR_URL=$PR_URL" >> $GITHUB_ENV
          echo "Pull request created: $PR_URL"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

      - name: Use PR URL in next step
        run: |
          echo "The PR link is $PR_URL"
