name: deploy

on:
  push:
    branches:
      - staging


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print host
        run: echo ${{ secrets.DEPLOY_HOST }}

        
      - name: Deploy Docker Compose
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            PROJECT_DIR="/home/devuser/minio-nginx"
            export HOST_ENDPOINT=${{ vars.HOST_ENDPOINT }}
            if [ ! -d "$PROJECT_DIR/.git" ]; then
              git clone -b main https://github.com/omar-khaled-2/minio-nginx.git $PROJECT_DIR
            else
              cd $PROJECT_DIR
              git reset --hard
              git pull origin main
            fi
            cd $PROJECT_DIR/infra
            mkdir -p secrets
            echo "${{ secrets.MINIO_PASSWORD }}" > secrets/minio_password.txt
            echo "${{ secrets.DB_PASSWORD }}" > secrets/db_password.txt
            echo "${{ secrets.HOST_ENDPOINT }}" > secrets/host_endpoint.txt
            mkdir -p data/minio

            docker compose down
            docker compose pull
            docker compose up -d --build
          